<p>Hi {{name}},</p>
<p>Great news! Your listing <strong>{{itemName}}</strong> has been sold for <strong>{{price}}</strong>.</p>
<p>Please check the app to arrange delivery.</p>
<p>Regards,<br>{{appName}} Team</p>